<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='pagina.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <title>CarregaImagem</title>
</head>
<body>
    <div class="container" style="padding-top: 4%;">
        <h1>CarregaImagem</h1>
        <div>
            <div class="row d-flex justify-content-center" style="padding-top: 1%;">
                <div class="card" id="carregar">
                    <form method=post class="form-group" enctype=multipart/form-data>
                        <input type=file style="width: 100%" name=file>
                        <label class="">Escolha um PNG, JPG ou JPEG</label>
                        <div class="mt-3">
                            <button onclick="carregar();" class="btn btn-primary" type="submit">Carregar</button>
                        </div>
                    </form>

                      <div id="espera" style="display: none;">
                         A processar . . .
                      </div>
                </div>


            </div>
            {% with msg = get_flashed_messages() %}
            {% if msg %}
                {% for m in msg %}
                    <div style="margin: 10px" class="alert alert-danger" role="alert">
                        {{ m }}
                    </div>
                {% endfor %}
            {% endif %}
            {% endwith %}
            <div class="row d-flex justify-content-center">
                <div class="card" id="guia">
                   <ul class="list-group">
                       <li class="list-group-item"><b>1</b> - Carregue uma imagem, do formato PNG, JPG ou JPEG</li>
                      <li class="list-group-item"><b>2</b> - Espere uns segundos e obtenha o link!</li>
                    </ul>


                     <ul class="list-group" style="padding-top: 1%;">
                         Links de fotos carregadas anteriormente:
                         {%for i in fotos %}
                            <li class="list-group-item"> <a href="{{i}}">{{i}}</a> </li>
                         {% endfor %}
                    </ul>

                </div>
            </div>



        </div>
    </div>

     <footer class="bg-primary">
         Bruno Silva 2021 - <u><a class="btn-primary stretched-link">CarregaImagem GitHub</a></u>
     </footer>

<script>
    function carregar() {
        document.getElementById("espera").style.display = "block";
    }
</script>
</body>
</html>